<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>register wishlist</title>
</head>
<body>

<div id="container">
    <h1>add wishlist</h1>
    <form> <input type="button" value="back" onclick="history.back()"> </form>
    <!--<a href="/wishlist/wishes/">back</a>-->

    <form action="/wishlist/wishes/{id}/add" method="post" th:object="${wishlistDTO}">

        <div class="mb-3">
            <label  class="form-label">name</label>
            <input type="text" class="form-control" placeholder="name" th:field="*{name}"}>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
</body>
</html>